/* Estilizações gerais*/

*{
    margin: 0;
}
body{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
    font-family: "Outfit", sans-serif;
}

#ifoot-logo{
    height: 80px;
}



/* Estilização da barra de navegação superior*/
.nav{
    background-color: #4ad658;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

/* Estilização dos dois botões que ficam dentro da nav mas que não fazem parte do login*/
#funcionamento{
    padding-left: 100px;
}
#sobre{
    padding-left: 40px;
}


/* Estilização dos dois botões de login(jogador e proprietário)*/
.login{
    display: flex;
    gap: 30px;
    padding-right: 50px;
    margin-left: auto;
}
.login a{
    display: flex;
    padding: 1px 20px;
    border: 3px solid white;
    border-radius: 15px;
    height: 40px;
    align-items: center;
}
.login a:hover{
    background-color: white;
    color: #4ad658;
}



/*Estilização da div que contém os botões dos dois tipos de cadastro(proprietário e jogador)*/
.body{
    background-image: url('/static/img_background.jpeg');
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    

}

/* Divs de registro/cadastro que estão dentro da div body*/
.registro{
    background-image: linear-gradient(180deg, #4ad658, #2d8d36);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 230px;
    margin: 45px 80px 45px 45px;
    border-radius: 20px;
}
.registro h2{
    width: 300px;
    margin-top: 30px;
    font-size: 25px;
}
.registro a {
    display: flex;
    height: 50px;
    width: 300px;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #4ad658;
    background-color: white;
    border-radius: 15px;
}
.registro a:hover{
    background-color: #4ad658;
    color: white;
}